.m-n1 {
	margin: -0.25rem !important;
}

.m-n2 {
	margin: -0.5rem !important;
}

.m-n3 {
	margin: -1rem !important;
}

.m-n4 {
	margin: -1.5rem !important;
}

.m-n5 {
	margin: -3rem !important;
}

.m-n6 {
	margin: -5rem !important;
}

.m-n7 {
	margin: -8rem !important;
}

.m-n8 {
	margin: -10rem !important;
}

.m-n9 {
	margin: -11rem !important;
}

.m-n10 {
	margin: -14rem !important;
}

.m-n11 {
	margin: -16rem !important;
}

.m-n12 {
	margin: -20rem !important;
}

.m-nsm {
	margin: -1rem !important;
}

.m-nmd {
	margin: -2rem !important;
}

.m-nlg {
	margin: -4rem !important;
}

.m-nxl {
	margin: -8rem !important;
}

.mx-n1 {
	margin-right: -0.25rem !important;
	margin-left: -0.25rem !important;
}

.mx-n2 {
	margin-right: -0.5rem !important;
	margin-left: -0.5rem !important;
}

.mx-n3 {
	margin-right: -1rem !important;
	margin-left: -1rem !important;
}

.mx-n4 {
	margin-right: -1.5rem !important;
	margin-left: -1.5rem !important;
}

.mx-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
}

.mx-n6 {
	margin-right: -5rem !important;
	margin-left: -5rem !important;
}

.mx-n7 {
	margin-right: -8rem !important;
	margin-left: -8rem !important;
}

.mx-n8 {
	margin-right: -10rem !important;
	margin-left: -10rem !important;
}

.mx-n9 {
	margin-right: -11rem !important;
	margin-left: -11rem !important;
}

.mx-n10 {
	margin-right: -14rem !important;
	margin-left: -14rem !important;
}

.mx-n11 {
	margin-right: -16rem !important;
	margin-left: -16rem !important;
}

.mx-n12 {
	margin-right: -20rem !important;
	margin-left: -20rem !important;
}

.mx-nsm {
	margin-right: -1rem !important;
	margin-left: -1rem !important;
}

.mx-nmd {
	margin-right: -2rem !important;
	margin-left: -2rem !important;
}

.mx-nlg {
	margin-right: -4rem !important;
	margin-left: -4rem !important;
}

.mx-nxl {
	margin-right: -8rem !important;
	margin-left: -8rem !important;
}

.my-n1 {
	margin-top: -0.25rem !important;
	margin-bottom: -0.25rem !important;
}

.my-n2 {
	margin-top: -0.5rem !important;
	margin-bottom: -0.5rem !important;
}

.my-n3 {
	margin-top: -1rem !important;
	margin-bottom: -1rem !important;
}

.my-n4 {
	margin-top: -1.5rem !important;
	margin-bottom: -1.5rem !important;
}

.my-n5 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
}

.my-n6 {
	margin-top: -5rem !important;
	margin-bottom: -5rem !important;
}

.my-n7 {
	margin-top: -8rem !important;
	margin-bottom: -8rem !important;
}

.my-n8 {
	margin-top: -10rem !important;
	margin-bottom: -10rem !important;
}

.my-n9 {
	margin-top: -11rem !important;
	margin-bottom: -11rem !important;
}

.my-n10 {
	margin-top: -14rem !important;
	margin-bottom: -14rem !important;
}

.my-n11 {
	margin-top: -16rem !important;
	margin-bottom: -16rem !important;
}

.my-n12 {
	margin-top: -20rem !important;
	margin-bottom: -20rem !important;
}

.my-nsm {
	margin-top: -1rem !important;
	margin-bottom: -1rem !important;
}

.my-nmd {
	margin-top: -2rem !important;
	margin-bottom: -2rem !important;
}

.my-nlg {
	margin-top: -4rem !important;
	margin-bottom: -4rem !important;
}

.my-nxl {
	margin-top: -8rem !important;
	margin-bottom: -8rem !important;
}

.mt-n1 {
	margin-top: -0.25rem !important;
}

.mt-n2 {
	margin-top: -0.5rem !important;
}

.mt-n3 {
	margin-top: -1rem !important;
}

.mt-n4 {
	margin-top: -1.5rem !important;
}

.mt-n5 {
	margin-top: -3rem !important;
}

.mt-n6 {
	margin-top: -5rem !important;
}

.mt-n7 {
	margin-top: -8rem !important;
}

.mt-n8 {
	margin-top: -10rem !important;
}

.mt-n9 {
	margin-top: -11rem !important;
}

.mt-n10 {
	margin-top: -14rem !important;
}

.mt-n11 {
	margin-top: -16rem !important;
}

.mt-n12 {
	margin-top: -20rem !important;
}

.mt-nsm {
	margin-top: -1rem !important;
}

.mt-nmd {
	margin-top: -2rem !important;
}

.mt-nlg {
	margin-top: -4rem !important;
}

.mt-nxl {
	margin-top: -8rem !important;
}

.me-n1 {
	margin-right: -0.25rem !important;
}

.me-n2 {
	margin-right: -0.5rem !important;
}

.me-n3 {
	margin-right: -1rem !important;
}

.me-n4 {
	margin-right: -1.5rem !important;
}

.me-n5 {
	margin-right: -3rem !important;
}

.me-n6 {
	margin-right: -5rem !important;
}

.me-n7 {
	margin-right: -8rem !important;
}

.me-n8 {
	margin-right: -10rem !important;
}

.me-n9 {
	margin-right: -11rem !important;
}

.me-n10 {
	margin-right: -14rem !important;
}

.me-n11 {
	margin-right: -16rem !important;
}

.me-n12 {
	margin-right: -20rem !important;
}

.me-nsm {
	margin-right: -1rem !important;
}

.me-nmd {
	margin-right: -2rem !important;
}

.me-nlg {
	margin-right: -4rem !important;
}

.me-nxl {
	margin-right: -8rem !important;
}

.mb-n1 {
	margin-bottom: -0.25rem !important;
}

.mb-n2 {
	margin-bottom: -0.5rem !important;
}

.mb-n3 {
	margin-bottom: -1rem !important;
}

.mb-n4 {
	margin-bottom: -1.5rem !important;
}

.mb-n5 {
	margin-bottom: -3rem !important;
}

.mb-n6 {
	margin-bottom: -5rem !important;
}

.mb-n7 {
	margin-bottom: -8rem !important;
}

.mb-n8 {
	margin-bottom: -10rem !important;
}

.mb-n9 {
	margin-bottom: -11rem !important;
}

.mb-n10 {
	margin-bottom: -14rem !important;
}

.mb-n11 {
	margin-bottom: -16rem !important;
}

.mb-n12 {
	margin-bottom: -20rem !important;
}

.mb-nsm {
	margin-bottom: -1rem !important;
}

.mb-nmd {
	margin-bottom: -2rem !important;
}

.mb-nlg {
	margin-bottom: -4rem !important;
}

.mb-nxl {
	margin-bottom: -8rem !important;
}

.ms-n1 {
	margin-left: -0.25rem !important;
}

.ms-n2 {
	margin-left: -0.5rem !important;
}

.ms-n3 {
	margin-left: -1rem !important;
}

.ms-n4 {
	margin-left: -1.5rem !important;
}

.ms-n5 {
	margin-left: -3rem !important;
}

.ms-n6 {
	margin-left: -5rem !important;
}

.ms-n7 {
	margin-left: -8rem !important;
}

.ms-n8 {
	margin-left: -10rem !important;
}

.ms-n9 {
	margin-left: -11rem !important;
}

.ms-n10 {
	margin-left: -14rem !important;
}

.ms-n11 {
	margin-left: -16rem !important;
}

.ms-n12 {
	margin-left: -20rem !important;
}

.ms-nsm {
	margin-left: -1rem !important;
}

.ms-nmd {
	margin-left: -2rem !important;
}

.ms-nlg {
	margin-left: -4rem !important;
}

.ms-nxl {
	margin-left: -8rem !important;
}